@import "../../mods/header/header.scss";
@import "../../mods/form/form.scss";
@import "../../libs/scss/g_icon.scss";
@import "../../libs/scss/mixin.scss";
@import "../../libs/scss/css3-mixin.scss";
@import "../../exports/common.scss";
@import "../../mods/patientlist/patientlist.scss";

.m-flex {
    @include flexbox;
}
.flex-item {
    @include flex-item(1);
}
.flex-item4 {
    @include flex-item(4);
}
.m-search-wrapper {
    position: relative;
    padding: .2rem .26rem;
    background: #fff;
}
.m-search {
    padding: .15rem .14rem;
    text-align: center;
    @include border-radius(30px);
    background:#f5f5f5;
    input {
        width: 5.5rem;
        margin-left: .2rem;
        font-size: .3rem;
        color: #777;
    }
    .icon-search {
        margin-top: .01rem;
    }
    .icon-del {
        display: none;
        margin-top: .03rem;
    }
}
