{
  "browserify": {
    "options": {
      "outCss" : true,
	  "paths": ["./webapp/src/libs"],
      "external": [],
      "extensions": ["scss","hbs", "string"],
      "transform": ["hbsfy", 
        ["stringify" , {
            "appliesTo" : { "includeExtensions" : [".string"] }
        }
      ]]
    }
  },

 "exports": {
    "scripts": ["./webapp/src/exports/**/*.js"],
    "styles": ["./webapp/src/exports/**/*.scss"],
    "htmls": ["./webapp/html/*.html"],
    "sources" : ["./webapp/images/**/*.*"],
    "minify" : {
       "html" : {"collapseWhitespace": true}
    }
  },
  "server": {
    "parseFileType": ["css", "js", "html"]
  },
  "buildPath": "./buildsrc",
  "buildHtmlPath" : "./build",
  "packPath": "./pack",
  "verpath": "./ver",
  "deploy": {
    "static": {
      "root" : "./buildsrc",
      "src": "./buildsrc/webapp/",
      "dest": "/home/www/medlinker/static1.medlinker.net/sass-h5",
      "user": "fe-dev",
      "exclude": [".git", ".svn"],
      "host": { 
        "dev" : "192.168.1.228",
        "beta": "10.0.0.1",
        "prd" : "10.0.0.1"
      }
    },
    "html": {
      "root" : "./build",
      "src": "./build/webapp/",
      "dest": "/home/www/medlinker/sass-h5",
      "user": "fe-dev",
      "exclude": [".git", ".svn"],
      "host": { 
        "dev" : "192.168.1.228",
        "beta": "10.0.0.1",
        "prd" : "10.0.0.1"
      }
    }

  }
}
