<header class="yo-header m-header">
    <h2 class="title">既往病史</h2>
    <a class="regret yo-ico js-return" ><span class="icon icon-arrow-left-blue"></span></a>
    <a class="js-submit affirm" >保存</a>
</header>
<div class="m-systems flex">
    <div class="m-systemItem" data-val="nfm">
        <p class="systemClass">内分泌系统</p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>关节炎</em></span>
          <span class="flex-item"><i></i><em>糖尿病</em></span>
          <span class="flex-item"><i></i><em>甲状腺疾病</em></span>
        </p>
    </div>
    <div class="m-systemItem"  data-val="hx">
        <p class="systemClass">呼吸系统</p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>哮喘</em></span>
          <span class="flex-item"><i></i><em>肺结核</em></span>
          <span class="flex-item"><i></i><em>呼吸困难</em></span>
        </p>
    </div>
    <div class="m-systemItem"  data-val="xy">
        <p class="systemClass">血液系统</p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>异常出血</em></span>
          <span class="flex-item"><i></i><em>贫血</em></span>
          <span class="flex-item"><i></i><em>大量输血</em></span>
        </p>
    </div>
    <div class="m-systemItem" data-val="zssj">
        <p class="systemClass">中枢神经系统</p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>癫痫</em></span>
          <span class="flex-item"><i></i><em>昏迷</em></span>
          <span class="flex-item"><i></i><em>神经性疾病</em></span>
        </p>
    </div>
    <div class="m-systemItem" data-val="xxg">
        <p class="systemClass">心血管系统</p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>心脏病</em></span>
          <span class="flex-item"><i></i><em>风湿热</em></span>
          <span class="flex-item"><i></i><em>心脏杂音</em></span>
        </p>
        <p class="systemDetalis m-flex">
          <span class="flex-item"><i></i><em>心瓣膜疾病</em></span>
          <span class="flex-item"><i></i><em>高血压</em></span>
          <span class="flex-item"><i></i><em>胸痛</em></span>
        </p>
    </div>
    <div class="m-med-form">
        <div class="form-col g-clear m-systemItem" data-val="other">
            <textarea name="gms" cols="30" rows="10" placeholder="其他病史"></textarea>
        </div>
    </div>
</div>
