<h2 class="title">患者({{total}})</h2>
<a class="regret yo-ico" href="index.html"><span class="icon icon-arrow-left-blue"></span></a>
<a class="js-submit affirm" href="searchpatient.html"><span class="icon-search fr"></span></a>
