<div class="thumb-flex gray">
    <div class="thumb-flex-item">
        <p>账户余额</p>
        <p>（元）</p>
        <span>{{zhye}}</span>
    </div>
    <div class="thumb-flex-item">
        <p>消费总额</p>
        <p>（元）</p>
        <span>{{xfze}}</span>
    </div>
    <div class="thumb-flex-item">
        <p>欠费金额</p>
        <p>（元）</p>
        <span>{{qfje}}</span>
    </div>
</div>
