<h2 class="title">{{name}}患者</h2>
<a class="regret yo-ico" href="{{returnUrl}}"><span class="icon icon-arrow-left-blue"></span></a>
<a class="js-submit affirm " href="addpatient.html?id={{id}}">编辑</a>
