<div class="login">
    <div class="login-block">
        <div class="form-block">
            <input class="js-txt-phone js-account" maxlength="11" type="tel" name="phone" placeholder="请输入机构/医生账号"/>
            <span class="js-clearInput clearInput">x</span>
        </div>
        <div class="form-block auto">
            <input type="password"  name="password" class="js-password txt-code"  placeholder="请输入密码"/>
       </div>
        <div class="form-btns">
            <a class="btn-blue js-login">登录</a>
        </div>
    </div>
</div>

