<a class="flex-col" href="calendar.html">
    <span class="icon icon-manager"></span>
    <p>预约管理</p>
    <p>当前预约：{{dqyy}}人</p>
</a>
<div class="flex-col">
    <a href="addpatient.html">
        <span class="icon icon-user"></span>
        <p>添加患者</p>
    </a>
    <a href="addorder.html">
        <span class="icon icon-order"></span>
        <p>添加预约</p>
    </a>
</div>
